/* Styles for the external CSS file */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
h1{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: large;
    margin-top: 20px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-size: 20px;
    text-align: center;
}
p{
    color:grey;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
    text-align: center;
    font-size: 25px;
}